<!DOCTYPE html>
<html>

<head>
    <title>Loading...</title>
</head>

<body>
    <h1>Loading...</h1>
    <p>Please wait while we process your request.</p>

    <script>
        fetch('/taylorsVersion')
            .then(function (response) {
                if (response.status === 200) {
                    window.location.href = "/taylorsVersion";
                }
            })
            .catch(function (error) {
                console.error('An error occurred:', error);
            });
    </script>
</body>

</html>